<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add booking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{header}"></div>
<div class="container mt-3">
    <div class="card text-center">
        <div class="card-header">
            <h4>Add booking</h4>
        </div>
        <div class="card-body text-left">
            <form action="/bookings" th:method="POST" class="form__data" id="create">
            </form>
            <div class="row">
                <div class="col">
                    <label>Time</label>
                    <input th:name="time" type="datetime-local" class="form-control date" form="create" required>
                </div>
                <div class="col">
                    <label>Guest count</label>
                    <input th:name="guest_count" type="number" class="form-control" form="create" required>
                </div>
                <div class="col">
                    <label>Guest</label>
                    <select th:name="guest" class="form-control" form="create" required>
                        <option th:each="guest :${guests}" th:value="${guest.getId()}"
                                th:text="${guest.getName()+' '+${guest.getPhone()+' '+${guest.getEmail()}"></option>
                    </select>
                </div>
                <div class="col">
                    <label>Table</label>
                    <select th:name="place" class="form-control" form="create" required>
                        <option th:each="place :${places}" th:value="${place.getId()}"
                                th:text="${place.getNumber()+' '+${place.getMaxPeople()}"></option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button class="btn btn-primary btn-block" type="submit" form="create">Submit</button>
                </div>
                <div class="col">
                    <a class="btn btn-block btn-danger" href="./">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>