<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{header}"></div>
</body>
<div class="container-fluid mt-3">
    <div class="card">
        <div class="card-body">
            <form action="/bookings/report" method="get" hidden="" id="report"></form>
            <div class="row">
                <div class="col">
                    <label class="sr-only" for="title">Booking</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Booking</div>
                        </div>
                        <input type="text" class="form-control" name="name" id="title" form="report" required>
                    </div>
                </div>
                <div class="col">
                    <label class="sr-only" for="type">Type</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Type</div>
                        </div>
                        <select name="type" class="form-control" form="report" required id="type">
                            <option th:each="format :${formats}" th:value="${format.toString()}"
                                    th:text="${format.getSubtype()}"></option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block" form="report">Create report</button>
                </div>
                <div class="col">
                    <a class="btn btn-warning btn-block" href="/bookings/add">
                        Add booking
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="table">
        <table class="data__table table table-bordered">
            <thead class="thead-light">
            <tr class="data__row">
                <th class="column__name">Time</th>
                <th class="column__name">Guest</th>
                <th class="column__name">Table</th>
                <th class="column__name"></th>
                <th class="column__name"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="data__row" th:each="booking : ${bookings}">
                <td class="data__item" th:text="${booking.getTime()}"></td>
                <td class="data__item" th:text="${booking.getGuest().getName()}"></td>
                <td class="data__item" th:text="${booking.getPlace().getNumber()}"></td>
                <td class="data__item">
                    <a class="btn btn-primary btn-block" th:href="@{'/bookings/' + ${booking.getId()}}">Edit
                    </a></td>
                <td class="data__item">
                    <form th:method="DELETE" th:action="@{'/bookings/' + ${booking.getId()}}">
                        <button th:type="submit" class="btn btn-danger btn-block">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>